#
# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema
# https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables
# https://github.com/actions/virtual-environments/tree/main/images
# https://github.com/lukka/CppBuildTasks
#

# trigger:
#   - main

pr:
  - main

schedules:
  - cron: "10 4 * * 6"
    displayName: "Weekly check"
    branches:
      include:
        - main

variables:
  - name: VCPKG_DISABLE_METRICS
    value: "true"
  - name: VCPKG_FEATURE_FLAGS
    value: "binarycaching,manifest"

stages:
  - stage: "Scripts"
    jobs:
      - job: "CMake"
        pool:
          vmImage: windows-2019
        steps:
          - task: CondaEnvironment@0
            inputs:
              environmentName: 'develop'
              packageSpecs: 'python=3.9 pyqt=5.9.2'
              cleanEnvironment: true
          - task: CMake@1
            displayName: "CMake modules/scripts"
            inputs:
              cmakeArgs: "-S $(Build.SourcesDirectory)/tests"
              runInsideShell: true
            env:
              Qt5_DIR: "$(CONDA)/envs/develop/Library/lib/cmake/Qt5"
          - powershell: |
              conda env list
              Get-ChildItem "$(CONDA)\\envs\\develop"
              Get-ChildItem "$(CONDA)\\envs\\develop\\Library"
              Get-ChildItem "$(CONDA)\\envs\\develop\\Library\\lib\\pkgconfig"
              Get-ChildItem "$(CONDA)\\envs\\develop\\Library\\lib\\cmake"
            condition: failed()
      - job: "PowerShell"
        pool:
          vmImage: ubuntu-20.04
        steps:
          - task: PowerShell@2
            displayName: "Check port versions"
            inputs:
              filePath: 'scripts/check-sha.ps1'

  - stage: "Ports" # Check build status of the ports
    jobs:
      - template: azure/jobs-python3.yml
        parameters:
          job_name: "vcpkg_host_python3"
          port_name: "vcpkg-host-python3"

      - template: azure/jobs-windows.yml
        parameters:
          job_name: "zlib_ng"
          port_name: "zlib-ng"
      - template: azure/jobs-linux.yml
        parameters:
          job_name: "zlib_ng"
          port_name: "zlib-ng"
      - template: azure/jobs-osx.yml
        parameters:
          job_name: "zlib_ng"
          port_name: "zlib-ng"

      - template: azure/jobs-windows.yml
        parameters:
          job_name: "openssl3"
          port_name: "openssl3"
      - template: azure/jobs-linux.yml
        parameters:
          job_name: "openssl3"
          port_name: "openssl3"
      - template: azure/jobs-osx.yml
        parameters:
          job_name: "openssl3"
          port_name: "openssl3"
      - template: azure/jobs-uwp.yml
        parameters:
          job_name: "openssl3"
          port_name: "openssl3"
      - template: azure/jobs-android.yml
        parameters:
          job_name: "openssl3"
          port_name: "openssl3"
      - template: azure/jobs-ios.yml
        parameters:
          job_name: "openssl3"
          port_name: "openssl3"

      - template: azure/jobs-windows.yml
        parameters:
          job_name: "tflite"
          port_name: "tensorflow-lite"
      - template: azure/jobs-linux.yml
        parameters:
          job_name: "tflite"
          port_name: "tensorflow-lite"
      - template: azure/jobs-osx.yml
        parameters:
          job_name: "tflite"
          port_name: "tensorflow-lite"

  # - stage: "Registry" # todo: Use of this registry
  #   jobs:
  #     - job: "windows_2022"
  #       pool:
  #         vmImage: windows-2022
  #       steps:
  #         - powershell: Write-Output "Not implemented"

  # todo: Deploy stage
  #   Status notification + GitHub release
