#
# https://docs.microsoft.com/en-us/azure/devops/pipelines/yaml-schema
# https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables
# https://github.com/actions/virtual-environments/tree/main/images
# https://github.com/lukka/CppBuildTasks
#

# trigger:
#   - main

pr:
  - main

schedules:
  - cron: "10 4 * * 6"
    displayName: "Weekly check"
    branches:
      include:
        - main

variables:
  - name: VCPKG_DISABLE_METRICS
    value: "true"

jobs:
  - job: "windows_2019"
    pool:
      vmImage: windows-2019
    variables:
      - name: windows_port_list
        value: "lua[cpp] zlib-ng"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.9"
          addToPath: true
          architecture: "x64"
        displayName: "Setup Python 3.9"
      # - task: DeleteFiles@1
      #   inputs:
      #     SourceFolder: "$(Build.BinariesDirectory)/vcpkg/downloads"
      #     Contents: "**/*" # todo: change to downloads, buildtrees, etc.
      #     RemoveSourceFolder: true
      #     RemoveDotFiles: true
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x64-windows"
          port_list: $(windows_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x86-windows"
          port_list: $(windows_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "arm64-windows"
          port_list: $(windows_port_list)

  - job: "windows_2022"
    pool:
      vmImage: windows-2022
    variables:
      - name: windows_port_list
        value: "lua[cpp] zlib-ng"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "3.9"
          addToPath: true
          architecture: "x64"
        displayName: "Setup Python 3.9"
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x64-windows"
          port_list: $(windows_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x64-uwp"
          port_list: $(windows_port_list)

  - job: "android_on_windows_2019"
    pool:
      vmImage: windows-2019
    variables:
      - name: android_port_list
        value: "lua[cpp] zlib-ng"
      # - name: android.ndk.home # == ANDROID_NDK_HOME
      #   value: $(ANDROID_NDK_LATEST_HOME) # todo: change expression
    steps:
      - powershell: env
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "arm64-android"
          port_list: $(android_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "arm-android"
          port_list: $(android_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x64-android"
          port_list: $(android_port_list)

  - job: "macos_15"
    pool:
      vmImage: macOS-10.15
    variables:
      - name: osx_port_list
        value: "lua[cpp] zlib-ng"
    steps:
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x64-osx"
          port_list: $(osx_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "arm64-osx"
          port_list: $(osx_port_list)

  - job: "ios_on_macos_15"
    pool:
      vmImage: macOS-10.15
    variables:
      - name: ios_port_list
        value: "lua[cpp] zlib-ng"
    steps:
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "x64-ios"
          port_list: $(ios_port_list)
      - template: azure/run-vcpkg-with-overlay.yml
        parameters:
          vcpkg_triplet: "arm64-ios"
          port_list: $(ios_port_list)
