# https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  win: circleci/windows@5.0
  aws-cli: circleci/aws-cli@4.1.2 # https://circleci.com/developer/orbs/orb/circleci/aws-cli
  aws-s3: circleci/aws-s3@4.0

workflows:
  overlay:
    jobs:
      - x64_windows:
          filters:
            branches:
              ignore:
                - gh-pages
                - docs
      - x64_linux_gcc:
          filters:
            branches:
              ignore:
                - gh-pages
                - docs

jobs:
  x64_windows:
    executor:
      name: win/server-2022
      size: large
      shell: "bash.exe"
    environment:
      VCPKG_DOWNLOADS: C:/vcpkg-caches
      VCPKG_DEFAULT_BINARY_CACHE: C:/vcpkg-caches
      VCPKG_DEFAULT_TRIPLET: x64-windows
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: "Setup: microsoft/vcpkg(2024.03.25)"
          shell: "powershell.exe"
          command: |
            New-Item -Type Directory -Force -Path $env:VCPKG_DOWNLOADS
            New-Item -Type Directory -Force -Path $env:VCPKG_DEFAULT_BINARY_CACHE
            git clone --branch=2024.03.25 --depth=1 https://github.com/microsoft/vcpkg
            Push-Location vcpkg
              ./bootstrap-vcpkg.bat
              ./vcpkg.exe --version
            Pop-Location
      - restore_cache:
          keys:
            - v2416-windows-{{ checksum ".circleci/config.yml" }}
            - v2416-windows-{{ .Branch }}
            - v2416-windows-main
      - run:
          name: "Install: port-windows.txt"
          shell: "powershell.exe"
          command: |
            ./vcpkg.exe install `
              --recurse `
              --clean-buildtrees-after-build `
              --clean-packages-after-build `
              --overlay-ports "$env:CIRCLE_WORKING_DIRECTORY/ports" `
              $(Get-Content "$env:CIRCLE_WORKING_DIRECTORY/.circleci/port-windows.txt")
          working_directory: vcpkg
          no_output_timeout: 1h
      - when:
          condition:
            equal: [ main, << pipeline.git.branch >> ]
          steps:
           - save_cache:
              key: v2416-windows-main
              paths:
                - C:/vcpkg-caches
      - save_cache:
          key: v2416-windows-{{ .Branch }}
          paths:
            - C:/vcpkg-caches
      - save_cache:
          key: v2416-windows-{{ checksum ".circleci/config.yml" }}
          paths:
            - C:/vcpkg-caches
      - store_artifacts:
          path: vcpkg/buildtrees/
          destination: "build-logs"

  x64_linux_gcc:
    # docker:
    #   - image: gcc:13.2
    machine:
      image: ubuntu-2204:current
    resource_class: large
    environment:
      VCPKG_DOWNLOADS: /tmp/vcpkg-caches
      VCPKG_DEFAULT_BINARY_CACHE: /tmp/vcpkg-caches
      VCPKG_DEFAULT_TRIPLET: x64-linux
    steps:
      - checkout
      - aws-cli/setup
      - run:
          name: "Setup: microsoft/vcpkg(2024.03.25)"
          command: |
            sudo apt-get update -y -q
            sudo apt-get install -y -q curl zip unzip tar
            mkdir -p $VCPKG_DOWNLOADS
            mkdir -p $VCPKG_DEFAULT_BINARY_CACHE
            git clone --branch=2024.03.25 --depth=1 https://github.com/microsoft/vcpkg
            pushd vcpkg
              ./bootstrap-vcpkg.sh
              ./vcpkg --version
            popd
            pwd
      - restore_cache:
          keys:
            - v2416-linux-{{ checksum ".circleci/config.yml" }}
            - v2416-linux-{{ .Branch }}
            - v2416-linux-main
      - run:
          name: "Install APT packages"
          command: |
            sudo apt-get install -y --fix-missing \
              g++-12 libstdc++-12-dev ninja-build nasm
      - run:
          name: "Install: port-linux.txt"
          command: |
            ./vcpkg install \
              --recurse \
              --clean-buildtrees-after-build \
              --clean-packages-after-build \
              --overlay-ports "$(pwd)/../ports" \
              $(cat "$(pwd)/../.circleci/port-linux.txt")
          environment:
            CC: gcc-12
            CXX: g++-12
          working_directory: vcpkg
          no_output_timeout: 1h
      - save_cache:
          key: v2416-linux-{{ .Branch }}
          paths:
            - /tmp/vcpkg-caches
      - save_cache:
          key: v2416-linux-{{ checksum ".circleci/config.yml" }}
          paths:
            - /tmp/vcpkg-caches
      - store_artifacts:
          path: vcpkg/buildtrees/
          destination: "build-logs"
