# https://circleci.com/docs/2.0/configuration-reference
version: 2.1

orbs:
  win: circleci/windows@5.0

workflows:
  windows_ports:
    jobs:
      - setup_cache:
          filters:
            branches:
              ignore:
                - gh-pages
                - docs
      - x64_windows:
          filters:
            branches:
              ignore:
                - gh-pages
                - docs
          requires:
            - setup_cache

jobs:
  setup_cache:
    executor:
      name: win/server-2022
      size: large
    environment:
      VCPKG_DOWNLOADS: C:/vcpkg-downs
      VCPKG_DEFAULT_BINARY_CACHE: C:/vcpkg-bins
      VCPKG_DEFAULT_TRIPLET: x64-windows
    steps:
      - checkout
      - run:
          name: "Setup: microsoft/vcpkg(2023.08.09)"
          command: |
            New-Item -Type Directory -Force -Path $env:VCPKG_DOWNLOADS
            New-Item -Type Directory -Force -Path $env:VCPKG_DEFAULT_BINARY_CACHE
            git clone --branch=2023.08.09 --depth=1 https://github.com/microsoft/vcpkg
            Push-Location vcpkg
              ./bootstrap-vcpkg.bat
              ./vcpkg.exe --version
            Pop-Location
      - restore_cache:
          keys:
            - v2338-downs-{{ .Branch }}
            - v2338-downs-{{ checksum ".circleci/config.yml" }}
            - v2338-downs-main
      - restore_cache:
          keys:
            - v2338-bins-{{ .Branch }}
            - v2338-bins-{{ checksum ".circleci/config.yml" }}
            - v2338-bins-main
      - run:
          name: "Install: port-setup.txt"
          command: |
            ./vcpkg.exe install `
              --clean-buildtrees-after-build `
              --clean-packages-after-build `
              --overlay-ports="$env:CIRCLE_WORKING_DIRECTORY/ports" `
              $(Get-Content "$env:CIRCLE_WORKING_DIRECTORY/.circleci/port-setup.txt")
          working_directory: vcpkg
          no_output_timeout: 1h
      - save_cache:
          key: v2338-downs-{{ checksum ".circleci/config.yml" }}
          paths:
            - C:/vcpkg-downs
          when: always
      - save_cache:
          key: v2338-bins-{{ checksum ".circleci/config.yml" }}
          paths:
            - C:/vcpkg-bins
          when: always

  x64_windows:
    executor:
      name: win/server-2022 # the Orbs
      size: large
    environment:
      VCPKG_DOWNLOADS: C:/vcpkg-downs
      VCPKG_DEFAULT_BINARY_CACHE: C:/vcpkg-bins
      VCPKG_DEFAULT_TRIPLET: x64-windows
    steps:
      - checkout
      - run:
          name: "Setup: microsoft/vcpkg(2023.08.09)"
          command: |
            New-Item -Type Directory -Force -Path $env:VCPKG_DOWNLOADS
            New-Item -Type Directory -Force -Path $env:VCPKG_DEFAULT_BINARY_CACHE
            git clone --branch=2023.08.09 --depth=1 https://github.com/microsoft/vcpkg
            Push-Location vcpkg
              ./bootstrap-vcpkg.bat
              ./vcpkg.exe --version
            Pop-Location
      - restore_cache:
          keys:
            - v2338-downs-{{ .Branch }}
            - v2338-downs-{{ checksum ".circleci/config.yml" }}
            - v2338-downs-main
      - restore_cache:
          keys:
            - v2338-bins-{{ .Branch }}
            - v2338-bins-{{ checksum ".circleci/config.yml" }}
            - v2338-bins-main
      - run:
          name: "Install: port-windows.txt"
          command: |
            ./vcpkg.exe install `
              --clean-buildtrees-after-build `
              --clean-packages-after-build `
              --overlay-ports="$env:CIRCLE_WORKING_DIRECTORY/ports" `
              $(Get-Content "$env:CIRCLE_WORKING_DIRECTORY/.circleci/port-windows.txt")
          working_directory: vcpkg
          no_output_timeout: 1h
      - when:
          condition:
            equal: [ main, << pipeline.git.branch >> ]
          steps:
           - save_cache:
              key: v2338-bins-{{ checksum ".circleci/config.yml" }}
              paths:
                - C:/vcpkg-bins
      - save_cache:
          key: v2338-downs-{{ .Branch }}
          paths:
            - C:/vcpkg-downs
      - save_cache:
          key: v2338-bins-{{ .Branch }}
          paths:
            - C:/vcpkg-bins
      - store_artifacts:
          name: "Upload buildtrees log"
          path: vcpkg/buildtrees/ # buildtrees-log
          destination: "build-logs"
