name: "Ubuntu"

on: [push, workflow_dispatch]

env:
  VCPKG_FEATURE_FLAGS: "registries,binarycaching,manifests,versions"

jobs:
  overlay:
    # check https://github.com/actions/runner-images/blob/main/images/linux/Ubuntu2204-Readme.md
    runs-on: "ubuntu-22.04"
    strategy:
      matrix:
        include:
          # - vcpkg_tag: "2023.11.20"
          #   vcpkg_commit: "a42af01b72c28a8e1d7b48107b33e4f286a55ef6"
          # - vcpkg_tag: "2023.12.12"
          #   vcpkg_commit: "c8696863d371ab7f46e213d8f5ca923c4aef2a00"
          # - vcpkg_tag: "2024.02.14"
          #   vcpkg_commit: "fba75d09065fcc76a25dcf386b1d00d33f5175af"
          - vcpkg_tag: "2024.03.25"
            vcpkg_commit: "a34c873a9717a888f58dc05268dea15592c2f0ff"
          - vcpkg_tag: "2024.04.26"
            vcpkg_commit: "943c5ef1c8f6b5e6ced092b242c8299caae2ff01"
      fail-fast: false
    env:
      VCPKG_OVERLAY_PORTS: "${{ github.workspace }}/ports"
      VCPKG_OVERLAY_TRIPLETS: "${{ github.workspace }}/triplets"
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: ConorMacBride/install-package@v1.1.0
        with:
          apt: nuget nasm libnuma-dev libopenmpi-dev libx11-dev libxi-dev libxext-dev libx11-xcb-dev

      - name: "create cache folders"
        run: |
          mkdir -p ${VCPKG_DOWNLOADS}
          mkdir -p ${VCPKG_DEFAULT_BINARY_CACHE}
        env:
          VCPKG_DOWNLOADS: "${{ runner.temp }}/vcpkg-downloads"
          VCPKG_DEFAULT_BINARY_CACHE: "${{ runner.temp }}/vcpkg-archives"

      - uses: actions/cache@v4.0.0
        with:
          key: "v2416-x64-linux-${{ matrix.vcpkg_tag }}"
          path: |
            ${{ runner.temp }}/vcpkg-downloads
            ${{ runner.temp }}/vcpkg-archives

      - uses: lukka/run-vcpkg@v11.5
        with:
          vcpkgDirectory: "${{ runner.temp }}/vcpkg" # ignore VCPKG_INSTALLATION_ROOT
          vcpkgGitCommitId: "${{ matrix.vcpkg_commit }}"
          vcpkgJsonGlob: "test/vcpkg.json"
          runVcpkgInstall: true
          runVcpkgFormatString: '[`install`, `--clean-buildtrees-after-build`, `--clean-packages-after-build`, `--triplet`, `$[env.VCPKG_DEFAULT_TRIPLET]`]'
        env:
          VCPKG_DEFAULT_TRIPLET: "x64-linux"
          VCPKG_BINARY_SOURCES: "default;${{ secrets.VCPKG_BINARY_SOURCES }}"
          VCPKG_DOWNLOADS: "${{ runner.temp }}/vcpkg-downloads"
          VCPKG_DEFAULT_BINARY_CACHE: "${{ runner.temp }}/vcpkg-archives"
