name: "macOS"

on: [push, workflow_dispatch]

env:
  VCPKG_FEATURE_FLAGS: "registries,binarycaching,manifests,versions"

jobs:
  overlay:
    runs-on: "macos-12"
    strategy:
      matrix:
        include:
          # - vcpkg_tag: "2023.12.12"
          #   vcpkg_commit: "c8696863d371ab7f46e213d8f5ca923c4aef2a00"
          # - vcpkg_tag: "2024.01.12"
          #   vcpkg_commit: "53bef8994c541b6561884a8395ea35715ece75db"
          - vcpkg_tag: "2024.02.14"
            vcpkg_commit: "fba75d09065fcc76a25dcf386b1d00d33f5175af"
          - vcpkg_tag: "2024.03.25"
            vcpkg_commit: "a34c873a9717a888f58dc05268dea15592c2f0ff"
      fail-fast: false
    env:
      VCPKG_DOWNLOADS: "/usr/local/share/vcpkg-downloads"
      VCPKG_DEFAULT_BINARY_CACHE: "/usr/local/share/vcpkg-archives"
      VCPKG_OVERLAY_PORTS: "${{ github.workspace }}/ports"
      VCPKG_OVERLAY_TRIPLETS: ${{ github.workspace }}/triplets
    steps:
      - uses: actions/checkout@v4.1.1
      - uses: ConorMacBride/install-package@v1.1.0
        with:
          brew: ninja autoconf automake libtool

      - name: "create cache folders"
        run: |
          mkdir -p ${VCPKG_DOWNLOADS}
          mkdir -p ${VCPKG_DEFAULT_BINARY_CACHE}

      - uses: actions/cache@v4.0.0
        with:
          key: "v2416-${{ runner.os }}-${{ matrix.vcpkg_tag }}"
          path: |
            /usr/local/share/vcpkg-downloads
            /usr/local/share/vcpkg-archives

      - uses: lukka/run-vcpkg@v11.5
        with:
          vcpkgDirectory: "/usr/local/share/vcpkg" # see VCPKG_INSTALLATION_ROOT
          vcpkgGitCommitId: "${{ matrix.vcpkg_commit }}"
          vcpkgJsonGlob: "test/vcpkg.json"
          runVcpkgInstall: true
          runVcpkgFormatString: '[`install`, `--clean-buildtrees-after-build`, `--clean-packages-after-build`, `--triplet`, `$[env.VCPKG_DEFAULT_TRIPLET]`]'
        env:
          VCPKG_DEFAULT_TRIPLET: "x64-osx"
          VCPKG_BINARY_SOURCES: "default;${{ secrets.VCPKG_BINARY_SOURCES }}"

      - uses: lukka/run-vcpkg@v11.5
        with:
          vcpkgDirectory: "/usr/local/share/vcpkg" # see VCPKG_INSTALLATION_ROOT
          vcpkgGitCommitId: "${{ matrix.vcpkg_commit }}"
          vcpkgJsonGlob: "test/vcpkg.json"
          runVcpkgInstall: true
          runVcpkgFormatString: '[`install`, `--clean-buildtrees-after-build`, `--clean-packages-after-build`, `--triplet`, `$[env.VCPKG_DEFAULT_TRIPLET]`]'
        env:
          VCPKG_DEFAULT_TRIPLET: "arm64-osx"
          VCPKG_BINARY_SOURCES: "default;${{ secrets.VCPKG_BINARY_SOURCES }}"
