name: "Windows"

on: [push, workflow_dispatch]

env:
  VCPKG_FEATURE_FLAGS: "registries,binarycaching,manifests,versions"

jobs:
  windows2022:
    runs-on: "windows-2022"
    strategy:
      matrix:
        triplet: [x64-windows]
    env:
      VCPKG_DOWNLOADS: "C:/vcpkg/downloads"
      VCPKG_DEFAULT_BINARY_CACHE: "C:/vcpkg/archives"
      VCPKG_OVERLAY_PORTS: "${{ github.workspace }}/ports"
      VCPKG_OVERLAY_TRIPLETS: ${{ github.workspace }}/triplets
    steps:
      - uses: actions/checkout@v3
      - name: "create cache folders"
        run: |
          New-Item -Type Directory -Force ${env:VCPKG_DOWNLOADS}
          New-Item -Type Directory -Force ${env:VCPKG_DEFAULT_BINARY_CACHE}
      - uses: actions/cache@v3
        with:
          key: "v2339-${{ runner.os }}"
          path: |
            C:/vcpkg/downloads
            C:/vcpkg/archives
      - uses: microsoft/setup-msbuild@v1.1
        with:
          msbuild-architecture: x64
      - uses: lukka/run-vcpkg@v11
        with:
          vcpkgDirectory: "C:/vcpkg"
          vcpkgGitCommitId: 9edb1b8e590cc086563301d735cae4b6e732d2d2 # 2023.08.09
          vcpkgJsonGlob: "test/vcpkg.json"
          runVcpkgInstall: true
          runVcpkgFormatString: '[`install`, `--clean-buildtrees-after-build`, `--clean-packages-after-build`, `--triplet`, `$[env.VCPKG_DEFAULT_TRIPLET]`]'
        env:
          VCPKG_DEFAULT_TRIPLET: "${{ matrix.triplet }}"
