name: "Deploy"

on:
  push:
    tags:
      - "*.*.*"

jobs:
  prerelease:
    name: "Prerelease"
    runs-on: ubuntu-latest
    env:
      GH_TOKEN: ${{ secrets.GH_TOKEN }}
    steps:
      - uses: actions/checkout@v6

      - name: "Run gh(auth)"
        run: |
          gh auth setup-git
          gh auth status

      - name: "Run make-configuration.ps1"
        run: |
          $text = scripts/make-configuration.ps1 -Dump
          Write-Output "## Configuration" >> ${env:GITHUB_STEP_SUMMARY}
          Write-Output '```json' >> ${env:GITHUB_STEP_SUMMARY}
          Write-Output $text >> ${env:GITHUB_STEP_SUMMARY}
          Write-Output '```' >> ${env:GITHUB_STEP_SUMMARY}
        shell: pwsh

      - name: "Run gh(release)"
        run: |
          gh release create ${{ github.ref_name }} \
            -t ${{ github.ref_name }} \
            --discussion-category "General" \
            --generate-notes --prerelease
          gh release upload ${{ github.ref_name }} \
            vcpkg-configuration.json
