name: "GitHub Pages"

on:
  workflow_dispatch:
  push:
    branches-ignore:
      - "gh-pages"
    paths:
      - 'docs/**'
      - 'package.json'
      - '.github/workflows/gh-pages.yml'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  vitepress_test:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' || github.event_name == 'workflow_dispatch'
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 20
          cache: npm

      - name: "Build VitePress site"
        run: |
          npm ci
          npm run docs:build

  vitepress:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-node@v6.2.0
        with:
          node-version: 20
          cache: npm

      - name: "Build VitePress site"
        run: |
          npm ci
          npm run docs:build

      - uses: actions/upload-pages-artifact@v4
        with:
          path: docs/.vitepress/dist

      - uses: actions/deploy-pages@v4
        id: deployment
