name: "GitHub Pages"

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
      - "docs/*"
    paths:
      - 'docs/**'
      - '.github/workflows/gh-pages.yml'

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build-pages:
    runs-on: ubuntu-latest
    # Currently just document build check in GitHuib Actions environment.
    # It will be enabled after SSG tool has selected.
    # # if: github.ref == 'refs/heads/main'
    # environment:
    #   name: github-pages
    #   url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - uses: actions/checkout@v6
